.todocontainer {
  width: 95%;
}

.daysrow {
  color: white;
  border-top: 2px dashed white;
  margin-top: 2rem;
}

.invader {
  position: absolute;
  text-align: center;
}

.invader img {
  height: 5rem;
}

.invader:hover:not(.ghost) img {
  filter: brightness(0) invert(8%) sepia(95%) saturate(7152%) hue-rotate(12deg)
    brightness(99%) contrast(113%);
}

.invader figcaption {
  text-align: center;
}

.invader .description {
  display: none;
}

.invader:hover .description {
  display: inline;
  position: absolute;
  background-color: white;
  top: 4rem;
  min-width: 15rem;
  min-height: 6rem;
  border-radius: 0.2rem;
  padding: 1rem;

  color: black;
  font-size: 0.8rem;
}

@keyframes boom {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(3) rotate(10deg);
  }
}

.explode {
  animation: boom 0.5s linear forwards;
}
