.todocontainer {
    width: 95%;
}

.daysrow {
    color: white;
    border-top: 2px dashed white;
    margin-top: 2rem;
}

.invader {
    position: absolute;
    text-align: center;
}

.invader img {
    height: 5rem;
}

.invader figcaption {
    text-align: center;
}